{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {background-color: #f8f9fa;}
        .login-form {max-width: 400px;margin: 0 auto;background-color: #fff;padding: 20px;border-radius: 8px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
        .login-form h1 {text-align: center;margin-bottom: 30px;}
        .form-group {margin-bottom: 20px;}
        .btn-outline-success {width: 100%;}
        .btn-outline-secondary {width: 100%;margin-top: 10px;}
    </style>
{% endblock %}

{% block body %}
    <form method="post" class="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="example-wrapper">
                Вы уже вошли в аккаунт {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти из аккаунта</a>
            </div>
        {% endif %}

        <div class="example-wrapper">
            <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Войти</button>
            <a href="/" class="btn btn-outline-secondary my-2 my-sm-2">На главную</a>
        </div>
    </form>
{% endblock %}