{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('admin.index') }}">Администрирование</a>

    {{ form_start(form,{attr:{"class":"d-inline"}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Найти') }}</button>
    {{ form_end(form) }}

    {% for article in articles %}
        <article>
            <h2>{{ article.title }}</h2>
            <a href="{{ path('app_article_edit', {'id': article.id}) }}">Редактирование</a>
            <div class="article-content">
                {{ article.body|raw|nl2br }}
            </div>
            <div>
                Дата создания: {{ article.createAt|date('d.m.Y H:i:s')}}, Автор:{{ article.author.email}}
            </div>
        </article>
    {% else %}
        <div>Ничего не нашлось</div>
    {% endfor %}

    {{ pagerfanta(articles) }}
</div>
{% endblock %}
